<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos para acceder a Internet y Ubicación -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebosInk">

        <!-- Actividad principal que se lanza al abrir la app -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades -->
        <activity android:name=".AccesoActivity" android:exported="true"></activity>
        <activity android:name=".VentanaActvity" android:exported="true"></activity>
        <activity android:name=".CompraActivity" android:exported="false"></activity>
        <activity android:name=".MapaActivity" android:exported="false"></activity>
        <activity android:name=".CrudActivity" android:exported="false"></activity>
        <activity android:name=".VideoActivity" android:exported="true"></activity>


    </application>
</manifest>
